@import "../style/_vars.scss";

.cities {
  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    position: relative;

    @include xs() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg() {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;
    }

    @include xl() {
      grid-template-columns: repeat(4, 1fr);
    }

    @include xl2() {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}